.marco-derecho,
.marco-izquierdo{
	color: #393C3E;
	background-color: #DCDCDC;
	margin-bottom: 26px;
	font-weight: bold;
}

.marco-derecho p,
.marco-izquierdo p{
	margin-bottom: 0px;
}

.marco-derecho .texto{
	float: left;
	width: 80%;
}

.marco-derecho img{
	width: 20%;
}

table{
	height: 100%;
	width: 100%;
}